@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.box {
  padding: 50px 200px;
  border-radius: 5px;
  border: solid 1px black;
  background: lightblue;
  margin: 10px;
  transition: 250ms ease-in-out;
}

.box {
}

.box.active {
  transform: translateX(450%);
}
