@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: rgb(102, 149, 250);
}

.container {
  display: flex;
}

.empty {
  height: 150px;
  width: 150px;
  background: white;
  margin: 10px;
  border: 3px solid black;
}

.hovered {
  border-style: dashed;
  border-color: white;
  background-color: rgb(51, 51, 51);
}

.fill {
  background-image: url("https://source.unsplash.com/random/150x150");
  height: 145px;
  width: 145px;
  cursor: pointer;
}

.hold {
  border: 5px solid grey;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}
