@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

canvas {
  border: 2px solid steelblue;
}

.btn-container {
  background: steelblue;
  border: 1px solid slateblue;
  display: flex;
  width: 704px;
  padding: 1rem;
}

.btn-container > * {
  background-color: white;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 50px;
  width: 50px;
  margin: 0.25rem;
  padding: 0.25rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn-container > *:last-child {
  margin-left: auto;
}
