@import url("https://fonts.googleapis.com/css?family=Open+Sans");

:root {
  --firstColor: #040303;
  --secondColor: #3a4e48;
  --thirdColor: #6a7b76;
  --fourthColor: #8b9d83;
  --fifthColor: #beb0a7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #222;
  background-color: var(--thirdColor);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.nav .container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  transition: all 0.3s ease-in-out;
}

.nav.active .container {
  padding: 5px;
  transition: all 0.3s ease-in-out;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 22px;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  list-style-type: none;
  padding: 10px;
}

a {
  text-decoration: none;
  color: white;
}

.nav a:hover,
.nav a.current {
  color: red;
}

.hero {
  /* background-image: url("https://images.jamendo.com/jamendomusic/communities/community-ambient-hero-l.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: -2;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.hero h1 {
  font-size: 50px;
  margin: -20px 0 20px;
}

.hero p {
  font-size: 20px;
  letter-spacing: 1px;
}

.projects {
  padding: 50px;
  background-color: var(--secondColor);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.projectbox {
  background-color: var(--thirdColor);
  margin: 10px 15px;
  min-width: 400px;
  max-width: 400px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
}
