@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #0d1b1e;
}

.btn {
  color: white;
  width: 200px;
  border-radius: 5px;
  background-color: #7798ab;
  border: 0;

  cursor: pointer;
  padding: 25px 20px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}
